# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.tlog
*.log
*.filters
*.vcxproj
*.ilk
*.pdb
*.idb
*.aps
*.rc
*.sln
*.user
*.db
.vs/try1/v15/.suo
*.ipch
*.opendb
